

.projects a{
    color: #F7FFF7;
    background-color: darkblue;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects a:hover{
    background: rgba(47,48,97,80%);
}

.content-wrap{
     max-width: 800px;
     width: 85%;
    margin: 0 auto;
    padding: 60px 0;

}

body{
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.Reminder img{
    width: 400px;
    float: right;
    margin: 20px;
    position: relative; 
    top: -63px;

}
.Reminder{
    overflow: hidden;
    border-bottom: 1px dashed darkblue;
    padding: 25px 0;
}

.Huffman img{
    width: 400px;
    float: right;
    margin: 20px;
    position: relative; 
    top: -2px; 
}

.Huffman{
    overflow: hidden;
    padding: 25px 0;
}

.contact-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list a{
    padding: 15px;
    display: inline-block;
}

.Header-Contact{
    text-align: center;
}

.Skills{
    width: 800px;
    margin: 0 auto;
    padding:  20px;

}


h3 + p{
    font-style: italic;
}

.QC{
    font-style: italic;
}

